In [2]:
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [3]:
path_to_db_local = 'telecomm_csi.db'
path_to_db_platform = '/datasets/telecomm_csi.db'
path_to_db = None

if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
else:
    raise Exception('Файл с базой данных SQLite не найден!')

if path_to_db:
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

In [11]:
query = """
SELECT u.user_id,
       u.lt_day,
       CASE 
            WHEN u.lt_day>=0 and u.lt_day<365 THEN 1
            WHEN u.lt_day>=365 THEN 0
            ELSE -1
       END AS is_new,
       u.age,
       CASE 
            WHEN u.gender_segment=1 THEN 'Female'
            WHEN u.gender_segment =0 THEN 'Male'
            ELSE 'Not define'
       END AS gender_segment,
      u.os_name,
      u.cpe_type_name,
      l.country,
      l.city,
      SUBSTRING(ags.title,4)as age_segment,
      SUBSTRING(ts.title,4) as traffic_segment,
      SUBSTRING(ls.title,4) as lifetime_segment,
      u.nps_score,
      CASE 
            WHEN u.nps_score>=0 and u.nps_score<=6 THEN 'Detractors'
            WHEN u.nps_score>=7 and u.nps_score<=8 THEN 'Passives'
            WHEN u.nps_score>=9 and u.nps_score<=10 THEN 'Promoters'
            ELSE 'Not Define'
      END AS nps_group
FROM user AS u
JOIN location AS l ON u.location_id = l.location_id
JOIN age_segment AS ags ON u.age_gr_id = ags.age_gr_id 
JOIN traffic_segment AS ts ON u.tr_gr_id = ts.tr_gr_id 
JOIN lifetime_segment AS ls ON u.lt_gr_id = ls.lt_gr_id 
"""

In [12]:
df = pd.read_sql(query, engine)
df.head(5)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,0,45.0,Female,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,Promoters
1,A001WF,2344,0,53.0,Male,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,Promoters
2,A003Q7,467,0,57.0,Male,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,Promoters
3,A004TB,4190,0,44.0,Female,IOS,SMARTPHONE,Россия,РостовнаДону,35-44,0.1-1,36+,10,Promoters
4,A004XT,1163,0,24.0,Male,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,Promoters

In [15]:
df.to_csv('C:\temp\telecomm_csi_tableau.csv', index=False)

Привет! Вот мой проект по представленным данным =)

https://public.tableau.com/shared/5CXSHD6FY